@font-face {
    font-family: MiFuenteRoboto;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    font-family: MiFuenteRoboto
}

.menu-superior {
    background-color: black;
    color: white;
    font-family: MiFuenteRoboto;
}

.lenguaje {
    display: block;
    float: right
}

.header {
    background-color: #F0A83E;
}

.header a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

#banner {
    background-image: url(../img/banner.png);
    background-size: cover;
    padding-top: 250px;
    min-height: 300px;
    text-align: center;
}

.fondoNaranja {
    background-color: #F0A83E;
    color: white;
    text-align: center;
}

.productos {
    text-align: left;
}

.precio {
    color: #F0A83E;
}

.contacto {
    background-color: #3C2313;
    color: white;
}

.contacto i {
    color: #8A8787
}

.dr {
    background-color: #F0A83E;
    color: white;
    text-align: center;
}