.header {
    text-align: center;
    margin: 0 auto;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 144px;
    height: 189px;
}

@font-face {
    font-family: "MiFuenteH1";
    src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: "MiFuenteH2";
    src: url(../fonts/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: "MiFuenteNormal";
    src: url(../fonts/NotoSansKR-Thin.otf);
}

.main {
    font-family: MiFuenteNormal;
    text-align: left;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

.subtitulo {
    font-style: italic;
}

small {
    font-family: MifuenteNormal;
    font-style: bold;
}

h1 {
    font-family: MiFuenteH1;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    background: #aa75d6;
    letter-spacing: 2mm;
    text-align: center;
}

h2 {
    font-family: MifuenteH2;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #7b0e8a;
    background: #e6a3c8;
    word-spacing: 3px;
    letter-spacing: 2mm
}

.subtitulo {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.other {
    display: block;
    text-indent: 79px;
}

.footer {
    color: rgb(255, 255, 255);
    background-color: #aa75d6;
    font-family: MifuenteNormal;
    font-weight: italic;
    font-size: 20px;
    text-align: center;
}

.icon {
    color: white;
    letter-spacing: 2mm
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #aa75d6;
    border-color: white;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn:hover {
    color: #e6a3c8;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(248, 100, 248, 0.35)
}

.galeria {
    height: 300px;
    width: 260px;
    margin: auto;
    border: 1px solid #aa75d6;
    position: relative;
}

.galeria img {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.galeria input[type=radio] {
    position: relative;
    bottom: -305px;
}

.galeria input[type=radio]:nth-of-type(1):checked~img:nth-of-type(1) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked~img:nth-of-type(2) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked~img:nth-of-type(3) {
    opacity: 1;
}