.header {
    text-align: center;
    margin: 0 auto
}

.logo {
    width: 100px;
    height: 147px;
    left: 670px;
    top: 21px;
}


.main {
    text-align: left;
    margin: 0 auto;
    width: 1041px;
    height: 460px;
}

body {
    font-family:'Times New Roman', Times, serif
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #005677;
    background: #C4C4C4;
    letter-spacing: 2mm
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #005677;
    background: #C4C4C4;
    word-spacing: 3px;
    letter-spacing: 2mm
}

.subtitulo {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.other {
    display: block;
    text-indent: 79px;
}

.footer {
    color: white;
    background-color: #005677;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.icon {
    text-align: right;
    vertical-align: middle;
}
