<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b2402382b.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Curriculum Vitae de Catalina Sua</title>
</head>

<body>
    <section id="header">
        <nav>
            <div class="header">
                <img src="../img/Cata2.jpeg" class="logo" alt="Foto perfil Cata">
                <h1>CURRICULUM VITAE DE CATALINA SUA </h1>
            </div>
        </nav>
    </section>
    <section id="Galeria">
        <div class="galeria">
            <input type="radio" name="navegacion" id="_1" checked>
            <input type="radio" name="navegacion" id="_2">
            <input type="radio" name="navegacion" id="_3">
            <img src="../img/Nike.png" width="260" height="300" alt="Galeria CSS 1" />
            <img src="../img/GolStar.jpg" width="260" height="300" alt="Galeria CSS 2" />
            <img src="../img/Cucuta.jpg" width="260" height="300" alt="Galeria CSS 3" />
        </div>
        <a href="../index.html"><button type="button" class="btn">Regresar</button></a>
    </section>

</body>
</html>
<!DOCTYPE html>
